<div>
    <pending-contracts></pending-contracts>
    <h2 id="page-heading" data-cy="ContractHeading">
        <span>Lepingud</span>
    </h2>

    <div class="alert alert-warning" id="no-result" *ngIf="contracts?.length === 0">
        <span>Ei leitud ühtegi lepingut</span>
    </div>

    <div class="table-responsive table-entities" id="entities" *ngIf="contracts && contracts.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
                <th scope="col">
                    <div class="d-flex">
                        <span>Nr</span>
                    </div>
                </th>
                <th scope="col">
                    <div class="d-flex">
                        <span>Leping</span>
                    </div>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let contract of contracts; trackBy: trackId" data-cy="entityTable">
                <td>
                    {{ contract.id }}
                </td>
                <td>
                    {{ contract.name }}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
