<div class="row">
  <div class="col-md-3">
    <span class="hipster img-fluid rounded"></span>
  </div>

  <div class="col-md-9">
    <h1 class="display-4"><span>Tere tulemast, Java Hipster!</span> (Lepinguregister)</h1>

    <p class="lead">See on teie avaleht</p>

    <ul>
      <li><a href="https://www.jhipster.tech/" target="_blank" rel="noopener noreferrer">JHipster koduleht</a></li>
      <li>
        <a href="https://stackoverflow.com/tags/jhipster/info" target="_blank" rel="noopener noreferrer">JHipster Stack Overflow-s</a>
      </li>
      <li>
        <a href="https://github.com/jhipster/generator-jhipster/issues?state=open" target="_blank" rel="noopener noreferrer"
          >JHipster veahaldus</a
        >
      </li>
      <li>
        <a href="https://gitter.im/jhipster/generator-jhipster" target="_blank" rel="noopener noreferrer">JHipster avalik jututuba</a>
      </li>
      <li><a href="https://twitter.com/jhipster" target="_blank" rel="noopener noreferrer">jälgi @jhipster Twitteris</a></li>
    </ul>

    <p>
      <span>Kui teile meeldib JHipster, siis ärge unustage anda meile tähte</span>
      <a href="https://github.com/jhipster/generator-jhipster" target="_blank" rel="noopener noreferrer">GitHub-is</a>!
    </p>

    <p>
      <a href="/act" target="_blank" rel="noopener noreferrer">Aktid</a>!
    </p>
  </div>
</div>
