<nav data-cy="navbar" class="navbar navbar-dark navbar-expand-md bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand logo" routerLink="/" (click)="collapseNavbar()">
      <span class="navbar-title">Riigi Kinnisvara - Lepinguregister</span>
    </a>
    <a
            class="navbar-toggler d-lg-none"
            href="javascript:void(0);"
            data-toggle="collapse"
            data-target="#navbarResponsive"
            aria-controls="navbarResponsive"
            aria-expanded="false"
            aria-label="Toggle navigation"
            (click)="toggleNavbar()"
    >
      <fa-icon icon="bars"></fa-icon>
    </a>
  </div>
</nav>
