<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="act">
      <h2 data-cy="actDetailsHeading">
        <span>{{ act.name }}</span>
        <span *ngIf="act.editPending" class="text-danger">(muudetud)</span>
      </h2>

      <hr />

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Tagasi</span>
      </button>

      <div *ngIf="act.id">
        <real-estate-services [actId]="act.id"></real-estate-services>
      </div>

    </div>
  </div>
</div>
