<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="contract">
      <h2 data-cy="contractDetailsHeading"><span>Contract</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>Id</span></dt>
        <dd>
          <span>{{ contract.id }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ contract.name }}</span>
        </dd>
        <dt><span>Act</span></dt>
        <dd>
          <span *ngFor="let act of contract.acts; let last = last">
            <a [routerLink]="['/act', act.id, 'view']">{{ act.id }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Tagasi</span>
      </button>

      <button type="button" [routerLink]="['/contract', contract.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Muuda</span>
      </button>
    </div>
  </div>
</div>
