<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="service">
      <h2 data-cy="serviceDetailsHeading"><span>Service</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>Id</span></dt>
        <dd>
          <span>{{ service.id }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ service.name }}</span>
        </dd>
        <dt><span>Price</span></dt>
        <dd>
          <span>{{ service.price }}</span>
        </dd>
        <dt><span>Valid From</span></dt>
        <dd>
          <span>{{ service.validFrom | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Valid To</span></dt>
        <dd>
          <span>{{ service.validTo | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Real Estate</span></dt>
        <dd>
          <div *ngIf="service.realEstate">
            <a [routerLink]="['/real-estate', service.realEstate.id, 'view']">{{ service.realEstate.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Tagasi</span>
      </button>

      <button type="button" [routerLink]="['/service', service.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Muuda</span>
      </button>
    </div>
  </div>
</div>
